asgiref==3.11.1
cffi==2.0.0
charset-normalizer==3.4.5
cryptography==46.0.5
Django==6.0.3
Faker==40.15.0
joblib==1.5.3
numpy==2.4.3
pdfminer.six==20251230
pdfplumber==0.11.9
pillow==12.1.1
pycparser==3.0
pypdfium2==5.6.0
python-dotenv==1.2.2
scikit-learn==1.8.0
scipy==1.17.1
sqlparse==0.5.5
threadpoolctl==3.6.0
tzdata==2025.3
